<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Course</h1>
	<div>
		<form th:object="${customercourse}" th:action="@{save}" action="#" method="post">
		  	<label for="paidstatus">Paid</label>
			<input type="checkbox" id="paidstatus" th:field="*{paidstatus}" />
			<div style="clear: both; display: block; height: 10px;"></div>

            <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="courselist">Price</label>
			 <select id="courselist" th:field="*{course}" class="form-control">
       			<option th:each="course: ${courses}" th:value="${course.course_id}" th:text="${course.name + ' : ' + course.martialart.name}"></option>
    		</select>

            <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="customerlist">Martial Art</label>
			 <select id="customerlist" th:field="*{customer}" class="form-control">
       			<option th:each="customer: ${customers}" th:value="${customer.customer_id}" th:text="${customer.firstname + ' ' + customer.lastname}"></option>
    		</select>

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>