<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Courses</h1>
    <div class="col-md-4">
		<i>Welcome <b sec:authentication="name"></b>, 
        your role is <b sec:authentication="principal.authorities"></b>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <div>
        <a href="/martialarts" class="btn btn-success">Martial Arts</a>
        <a href="/customers" class="btn btn-success">Customers</a>
        <a href="/coaches" class="btn btn-success">Coaches</a>
        <a href="/prices" class="btn btn-success">Prices</a>
        <a href="/customercourses" class="btn btn-success">Attendees</a>
    </div>
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
            <th>Martial Art</th>
		    <th>Period</th>
            <th>Price</th>
            <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "course : ${courses}">
    		<td th:text="${course.name}"></td>
            <td th:text="${course.martialart.name}"></td>
            <td th:text="${course.period}"></td>
            <td th:text="${course.price.unitprice} + '€'"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/courses/edit/{id}(id=${course.course_id})}">Edit</a></td>  
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/courses/delete/{id}(id=${course.course_id})}" class="btn btn-danger">Delete</a></td>		
    	</tr>
     </table>
      <a href="/courses/add" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Add Course</a>    	
</body>
</html>