<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Customers & Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Customers & Courses</h1>
    <div class="col-md-4">
		<i>Welcome <b sec:authentication="name"></b>, 
        your role is <b sec:authentication="principal.authorities"></b>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Customer</th>
		    <th>Course</th>
            <th>Paid Status</th>
            <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "customercourse : ${customercourses}">
    		<td th:text="${customercourse.customer.firstname + ' ' + customercourse.customer.lastname}"></td>
            <td th:text="${customercourse.course.name}"></td>
            <td th:text="${customercourse.paidstatus}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/customercourses/edit/{id}(id=${customercourse.customercourse_id})}">Edit</a></td>  
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/customercourses/delete/{id}(id=${customercourse.customercourse_id})}" class="btn btn-danger">Delete</a></td>		
    	</tr>
     </table>
      <a href="/courses" class="btn btn-success">Back to Courses</a>
	
</body>
</html>